<div class="col-8">
  <h1>List of cocktail</h1>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category">
        <%= link_to  cocktail.name , cocktail_path(cocktail.id) %>
      </div>
    <% end %>
  </div>
</div>
