// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color:#164693;
  font-weight: 700;
  text-align: center;
  margin: 1em 0;
}


.list_ingredient {
  padding: 1em;
  margin-top: 3em;
  background-color: rgba(227, 235, 247, 0.4);
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  ul {
    margin: 2em;
  }
}
